* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

nav a {
	color: #888888;
	text-decoration: none;
}

nav a:visited {
	color: #888888;
}

.clear {
	clear: both;
}

p {
	line-height: 140%;
}

body {
	background: #feedde;
	color: #888888;
	font-size: 14px;
}

#outline {
	width: 940px;
	/*height: 1000px;*/
	margin: 0 auto;
	background: #ffffff;
}

header {
	width: 900px;
	margin: 0 auto;
	height: 85px;
	border: 1px solid #ffffff;
	background: url(bg_img/header.png) repeat-x 0% 100%;
	position: relative;
}

header h1 {
	float: left;
}

header p {
	float: right;
	margin-top: 12px;
}

nav {
	float: right;
	display: table;
	position: absolute;
	right: 0;
	bottom: 12px;
}

nav ul li {
	display: table-cell;
	width: 121px;
	height: 40px;
	text-align: center;
	/*vertical-align: middle;*/
	background: url(bg_img/menu2.png);
}

nav ul li:first-child {
	background: url(bg_img/menu1.png);
}

#siro {
	background-color: rgba(255,165,0,0.8);
}

#siro a, #siro a:visited {
	color: #ffffff;
}

nav ul li:last-child {
	background: url(bg_img/menu3.png);
}

nav a {
	display: block;
	width: 121px;
	height: 40px;
	padding-top: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav ul li:hover ,nav ul li:last-child:hover {
	background-color: rgba(255,165,0,0.8);
}

nav ul li a:hover ,nav ul li a:last-child:hover{
	color: #ffffff;
}
/*ヘッダーここまで*/

/*メインここから*/
main {
	width: 900px;
	/*height: 800px;*/
	margin: 0 auto;
}

#m-head {
	width: 100%;
	height: 28px;
	margin: 20px 0 3px;
	color: #ffffff;
	background: #ffa500;
}


h2 {
	font-size: 16px;
	font-weight: bold;
	padding: 6px 0 0px 25px;
	background: url(bg_img/icon1.png) no-repeat 5px 6px;
	float: left;
}

#m-head p {
	font-size: 12px;
	float: right;
	margin: 5px;
}

section {
	width: 100%;
	/*height: 160px;*/
	margin: 0 auto;
	border-bottom:1px dotted #000;
	padding-bottom: 30px;
}

.s1st {
	border-top: 2px solid #888888;
}

section h3 {
	font-family: "メイリオ";
	font-weight: bold;
	color:  #333300;
	width: 600px;
	height: 28px;
	/*margin: 15px 0 5px 10px;*/
	background: url(bg_img/icon3.png) no-repeat 10px 15px;
	padding: 11px 0 3px 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}

time {
	float: right;
	margin-top: 20px;
}
section p {
	clear: both;
	padding: 5px 0 5px 25px;
}

section a {
	padding: 10px 0 5px 25px;
}

section:last-child {
	margin-bottom: 200px;
}

/*メインここまで*/

/*フッターここから*/
footer {
	width: 100%;
	height: 39px;
	background: url("bg_img/footer.png");
	text-align: center;
	padding-top: 13px;
	color: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.zakkaya {
	letter-spacing: 2px;
}