* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

nav a {
	color: #888888;
	text-decoration: none;
}

nav a:visited {
	color: #888888;
}

.clear {
	clear: both;
}

p {
	line-height: 140%;
}

body {
	background: #feedde;
	color: #888888;
	font-size: 14px;
}

#outline {
	width: 940px;
	/*height: 1000px;*/
	margin: 0 auto;
	background: #ffffff;
}

header {
	width: 900px;
	margin: 0 auto;
	height: 85px;
	border: 1px solid #ffffff;
	background: url(bg_img/header.png) repeat-x 0% 100%;
	position: relative;
}

header h1 {
	float: left;
}

header p {
	float: right;
	margin-top: 12px;
}

nav {
	float: right;
	display: table;
	position: absolute;
	right: 0;
	bottom: 12px;
}

nav ul li {
	display: table-cell;
	width: 121px;
	height: 40px;
	text-align: center;
	/*vertical-align: middle;*/
	background: url(bg_img/menu2.png);
}

nav ul li:first-child {
	background: url(bg_img/menu1.png);
}

#siro {
	background-color: rgba(255,165,0,0.8);
}

#siro a, #siro a:visited {
	color: #ffffff;
}

nav ul li:last-child {
	background: url(bg_img/menu3.png);
}

nav a {
	display: block;
	width: 121px;
	height: 40px;
	padding-top: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav ul li:hover ,nav ul li:last-child:hover {
	background-color: rgba(255,165,0,0.8);
}

nav ul li a:hover ,nav ul li a:last-child:hover{
	color: #ffffff;
}
/*ヘッダーここまで*/

/*メインここから*/
main {
	width: 900px;
	/*height: 2300px;*/
	margin: 0 auto;
}

#m-head {
	width: 100%;
	height: 28px;
	margin: 20px 0 3px;
	color: #ffffff;
	background: #ffa500;
}


h2 {
	font-size: 15px;
	font-family: "メイリオ";
	padding: 4px 0 0px 25px;
	background: url(bg_img/icon1.png) no-repeat 5px 6px;
	float: left;
}

#m-head p {
	font-size: 12px;
	float: right;
	margin: 5px;
}

#m-body {
	margin-top: 2px;
	border-top: 2px solid #888888;
}

article {
	margin: 30px 0 50px;
}

#map {
	margin: 20px 0 0 20px;
	width: 30%;
	height: 300px;
	/*border: 1px solid #000000;*/
	float: left;
}

#address {
	width: 65%;
	/*height: 800px;*/
	/*border: 1px solid #000000;*/
	float: right;
}

#address th {
	width: 20%;
	height: 30px;
	padding: 15px;
	color: #ffa500;
	text-align: left;
	background: #eeeeee;
	border-top: 1px dotted #000000;
}

#address td {
	width: 80%;
	height: 30px;
	padding-left: 10px;
	border-top: 1px dotted #000000;
}

#address tr:nth-child(9) th , #address tr:nth-child(10) th{
	border: none;
}

#address tr:last-child th ,#address tr:last-child td{
	border-bottom: 1px dotted #000000;
}

.tissaku {
	font-size: 9px;
	font-weight: bold;
}

/*メインここまで*/

/*フッターここから*/
footer {
	width: 100%;
	height: 39px;
	background: url("bg_img/footer.png");
	text-align: center;
	padding-top: 13px;
	color: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.zakkaya {
	letter-spacing: 2px;
}
